@import "~bootstrap/scss/bootstrap.scss";

body {
    background: rgb(20,20,20);
    color: lightgray;
}

.header{
    img{max-height: 50px;}
}
.scroller{
    overflow-x: auto;
    white-space: nowrap;
}
.fas.fa-trash{
    cursor: pointer;
    float: right;
    margin-top: 2px;
}